body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #963bdb
}

.profile-button:focus {
    background: #963bdb;
    box-shadow: none
}

.profile-button:active {
    background: #963bdb;
    box-shadow: none
}

.back:hover {
    color: #963bdb;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

#box{
	height: 50px;
	background-color: #963bdb;
	font-family: "open sans", sans-serif;
	font-size: 30px;
	color: white;	
}